<li>
  {{if .Get "specialLink"}}
  {{ $specialLInk := .Get "specialLink" }}
  {{ if (eq $specialLInk "ocpCluster")}}
  <a target="_blank" href="https://console-openshift-console.apps.VAR_REP_WORKSHOP_ID.VAR_REP_WORKSHOP_DOMAIN/"
    data-original-href="https://console-openshift-console.apps.VAR_REP_WORKSHOP_ID.VAR_REP_WORKSHOP_DOMAIN/"
    class="generatedLink">
    <strong>{{with .Get "title"}}{{.}}{{else}}https://console-openshift-console.apps.VAR_REP_WORKSHOP_ID.VAR_REP_WORKSHOP_DOMAIN/{{end}}</strong>
  </a>&nbsp;&bull;&nbsp;<strong>Username:</strong> <span class="generatedText"
    data-original-text="studentVAR_REP_STUDENT_NUMBER">studentVAR_REP_STUDENT_NUMBER</span>
  &nbsp;&bull;&nbsp;<strong>Password:</strong> <span class="generatedText workshopPassword" data-original-text="Provided by workshop proctor">Provided by workshop proctor</span>
  {{ end }}
  {{ if (eq $specialLInk "gitlabVM")}}
  <a target="_blank" href="https://VAR_REP_GITLAB_FQDN/"
    data-original-href="https://VAR_REP_GITLAB_FQDN/" class="generatedLink">
    <strong>{{with .Get "title"}}{{.}}{{else}}https://VAR_REP_GITLAB_FQDN/{{end}}</strong>
  </a>&nbsp;&bull;&nbsp;<strong>Username:</strong> <span class="generatedText"
    data-original-text="studentVAR_REP_STUDENT_NUMBER">studentVAR_REP_STUDENT_NUMBER</span>
  &nbsp;&bull;&nbsp;<strong>Password:</strong> <span class="generatedText workshopPassword" data-original-text="Provided by workshop proctor">Provided by workshop proctor</span>
  {{ end }}
  {{ if (eq $specialLInk "gitlabVMOnCluster")}}
  <a target="_blank" href="https://gitlab.VAR_REP_WORKSHOP_ID.VAR_REP_WORKSHOP_DOMAIN/"
    data-original-href="https://gitlab.VAR_REP_WORKSHOP_ID.VAR_REP_WORKSHOP_DOMAIN/" class="generatedLink">
    <strong>{{with .Get "title"}}{{.}}{{else}}https://gitlab.VAR_REP_WORKSHOP_ID.VAR_REP_WORKSHOP_DOMAIN/{{end}}</strong>
  </a>&nbsp;&bull;&nbsp;<strong>Username:</strong> <span class="generatedText"
    data-original-text="studentVAR_REP_STUDENT_NUMBER">studentVAR_REP_STUDENT_NUMBER</span>
  &nbsp;&bull;&nbsp;<strong>Password:</strong> <span class="generatedText workshopPassword" data-original-text="Provided by workshop proctor">Provided by workshop proctor</span>
  {{ end }}
  {{ if (eq $specialLInk "gitlabVMOnKemoNetwork")}}
  <a target="_blank" href="https://gitlab.kemo.network/" data-original-href="https://gitlab.kemo.network/"
    class="generatedLink">
    <strong>{{with .Get "title"}}{{.}}{{else}}https://gitlab.kemo.network/{{end}}</strong>
  </a>&nbsp;&bull;&nbsp;<strong>Username:</strong> <span class="generatedText"
    data-original-text="studentVAR_REP_STUDENT_NUMBER">studentVAR_REP_STUDENT_NUMBER</span>
  &nbsp;&bull;&nbsp;<strong>Password:</strong> <span class="generatedText workshopPassword" data-original-text="Provided by workshop proctor">Provided by workshop proctor</span>
  {{ end }}
  {{else}}
  {{with .Get "href" }}<a target="_blank" href="{{.}}" data-original-href="{{.}}" class="generatedLink">{{else}}<strong>{{end}}
    {{with .Get "title"}}{{.}}{{else}}{{.Get "href"}}{{end}}
  {{with .Get "href" }}</a>{{else}}</strong>{{end}}
  {{with .Inner}}{{.}}{{end}}
  {{end}}
</li>