<!-- eslint-disable -->
</section>
<div id="page-footer" class="container pf-u-p-xl">
  <p>
    Copyright &copy; {{ now.Year }} Red Hat, Inc.
  </p>
</div>

<div class="pf-c-backdrop pf-u-display-none" id="loadingScreen">
  <div class="pf-l-bullseye">
    <span class="pf-c-spinner pf-u-display-none" role="progressbar" aria-valuetext="Loading...">
      <span class="pf-c-spinner__clipper"></span>
      <span class="pf-c-spinner__lead-ball"></span>
      <span class="pf-c-spinner__tail-ball"></span>
    </span>
  </div>
</div>

<div class="pf-c-modal-box modal" role="dialog" aria-modal="true" aria-labelledby="studentLoginModal-title"
  tabindex="-1" id="studentLoginModal">
  <button class="pf-c-button pf-m-plain" type="button" aria-label="Close">
    <i class="fas fa-times" aria-hidden="true"></i>
  </button>
  <form id="studentLoginForm" method="POST" action="{{ .Site.Params.jigBackend }}/api/v1/student-login"
    class="pf-c-form pf-m-horizontal" novalidate>
    <header class="pf-c-modal-box__header">
      <h1 class="pf-c-modal-box__title" id="studentLoginModal-title">Student Login</h1>
    </header>
    <div class="pf-c-modal-box__body" id="studentLoginModal-description">
      <p>To access the workshop labs, please log in with your Name and Email Address.</p>
      <div class="pf-c-form__group">
        <div class="pf-c-form__group-label">
          <label class="pf-c-form__label" for="student_name">
            <span class="pf-c-form__label-text">Name</span>
            <span class="pf-c-form__label-required" aria-hidden="true">&#42;</span>
          </label>
        </div>
        <div class="pf-c-form__group-control">
          <input class="pf-c-form-control" type="text" id="student_name" name="student_name" required />
        </div>
      </div>
      <div class="pf-c-form__group">
        <div class="pf-c-form__group-label">
          <label class="pf-c-form__label" for="student_email">
            <span class="pf-c-form__label-text">Email Address</span>
            <span class="pf-c-form__label-required" aria-hidden="true">&#42;</span>
          </label>
        </div>
        <div class="pf-c-form__group-control">
          <input class="pf-c-form-control" type="text" id="student_email" name="student_email" required />
        </div>
      </div>
      <input type="hidden" value="{{ .Permalink | absURL }}" name="initiating_url" />
    </div>
    <footer class="pf-c-modal-box__footer"><input id="studentLoginBtn" type="submit" value="Login"
        class="pf-c-button pf-m-primary"><button class="pf-c-button pf-m-plain close" type="reset">Cancel</button>
    </footer>
  </form>
</div>

<div class="pf-c-modal-box modal" role="dialog" aria-modal="true" aria-labelledby="eventIDModal-title" tabindex="-1"
  id="eventIDModal">
  <button class="pf-c-button pf-m-plain" type="button" aria-label="Close">
    <i class="fas fa-times" aria-hidden="true"></i>
  </button>
  <form id="eventIDForm" method="POST" action="{{ .Site.Params.jigBackend }}/api/v1/access-workshop-event"
    class="pf-c-form pf-m-horizontal pf-u-mr-0" novalidate>
    <header class="pf-c-modal-box__header">
      <h1 class="pf-c-modal-box__title" id="eventIDModal-title">Join Event</h1>
    </header>
    <div class="pf-c-modal-box__body" id="eventIDModal-description">
      <p>Please enter the Event ID provided to you by your workshop
        proctor, or select the available workshop from the listing below.</p>
      <div class="pf-c-form__group">
        <div class="pf-c-form__group-label">
          <label class="pf-c-form__label" for="event_id">
            <span class="pf-c-form__label-text">Event ID</span>
            <span class="pf-c-form__label-required" aria-hidden="true">&#42;</span>
          </label>
        </div>
        <div class="pf-c-form__group-control">
          <div class="pf-c-input-group">

            <input class="pf-c-form-control" type="text" id="event_id" name="event_id" required /><button
              id="eventIDJoinBtn" type="submit" class="pf-c-button pf-m-primary">Join</button>
          </div>
          <label id="event_id-error" class="error" for="event_id"></label>
        </div>
      </div>
      <div class="pf-u-mt-xl pf-u-mb-xl">
        <hr />
      </div>
      <div id="availableEventsListing">
        <h5><strong>Active & Available Workshops</strong></h5>
        <table class="pf-c-table pf-m-compact pf-m-grid-md" role="grid"
          aria-label="This is the listing of active and available workshops" id="availableEventsListingTable">
          <thead>
            <tr role="row">
              <th role="columnheader" scope="col">Event ID</th>
              <th role="columnheader" scope="col">Event Title</th>
              <th role="columnheader" scope="col">Workshop</th>
              <th role="columnheader" scope="col">Seats</th>
              <th role="columnheader" scope="col"></th>
            </tr>
          </thead>
          <tbody role="rowgroup">

          </tbody>
        </table>
      </div>
      <input type="hidden" value="{{ .Permalink | absURL }}" name="initiating_url" />
    </div>
  </form>
</div>

<div class="pf-c-modal-box modal" role="dialog" aria-modal="true" aria-labelledby="gotoWorkshopModal-title"
  tabindex="-1" id="gotoWorkshopModal">
  <button class="pf-c-button pf-m-plain" type="button" aria-label="Close">
    <i class="fas fa-times" aria-hidden="true"></i>
  </button>
  <header class="pf-c-modal-box__header">
    <h1 class="pf-c-modal-box__title" id="gotoWorkshopModal-title">Goto Workshop</h1>
  </header>
  <div class="pf-c-modal-box__body" id="gotoWorkshopModal-description">
    <p>Would you like to be redirected to the Workshop?</p>
  </div>
  <footer class="pf-c-modal-box__footer">
    <button id="redirectToWorkshopBtn" type="button" class="pf-c-button pf-m-primary">Yes, redirect</button>
    <button class="pf-c-button pf-m-plain close" type="reset">Not now</button>
  </footer>
</div>

<script type="text/javascript" src="{{ "/js/jquery.matchHeight.js" }}"></script>

<!-- md5 for user Gravatar -->
<script type="text/javascript" src="{{ "/node_modules/blueimp-md5/js/md5.min.js" }}"></script>
<!-- jsCookie for user config -->
<script type="text/javascript" src="{{ "/node_modules/js-cookie/src/js.cookie.js" }}"></script>

<!-- Bootstrap JS -->
<script type="text/javascript" src="{{ "/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js" }}"></script>

<!-- SlimScroll -->
<script type="text/javascript" src="{{ "/node_modules/jquery-slimscroll/jquery.slimscroll.min.js" }}"></script>

<!-- jQuery Validation -->
<script type="text/javascript" src="{{ "/node_modules/jquery-validation/dist/jquery.validate.min.js" }}"></script>
<script type="text/javascript" src="{{ "/node_modules/jquery-validation/dist/additional-methods.min.js" }}"></script>

<!-- DataTables JS -->
<script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/fixedheader/3.1.7/js/dataTables.fixedHeader.min.js" crossorigin="anonymous"></script>

<!-- loltechdebt -->
<script type="text/javascript" src="{{ "/js/custom-kemo.js" }}"></script>



<script type="text/javascript">
  if (
    typeof _satellite !== 'undefined' &&
    typeof _satellite.pageBottom === 'function'
  ) {
    _satellite.pageBottom();
  }

  function processActivity() {
    if (Cookies2.get('student_name_id')) {
      jQuery.ajax({
        type: 'POST',
        url: '{{ .Site.Params.jigBackend }}/api/v1/activity',
        data: {
          initiating_url: '{{ .Permalink | absURL }}',
          activity_type: 'pageLoad',
          student_name_id: Cookies2.get('student_name_id'),
        },
        complete(data) {
          //Nada
        },
      });
    }
  }

  jQuery(document).ready(function () {
    processActivity();

    jQuery('#eventIDModal').on('click', '.joinAvailableWorkshopBtn', function (e) {
      e.preventDefault();
      const event_eid = jQuery(this).data('event-eid');
      jQuery('#eventIDForm input#event_id').val(event_eid);
      jQuery('#eventIDJoinBtn').click();
    });

    jQuery('#eventIDModal')
      .on('hide.bs.modal', function () {
        jQuery('#eventIDForm').trigger('reset');
      })
      .on('show.bs.modal', function () {
        jQuery('#availableEventsListingTable tbody').html(
          '<tr role="row"><td colspan="5" class="pf-u-text-align-center">Loading...</td></tr>'
        );
        jQuery.ajax({
          type: 'GET',
          url: '{{ .Site.Params.jigBackend }}/api/v1/find-available-events',
          error(data) {
            jQuery('#availableEventsListingTable tbody').html(
              '<tr role="row"><td colspan="5" class="pf-u-text-align-center">Error loading records</td></tr>'
            );
          },
          success(data) {
            console.log(data);
            jQuery('#availableEventsListingTable tbody').html('');
            switch (data.code) {
              case 'available-events-found':
                for (const x of data.events) {
                  console.log(x.event_eid);
                  let appendedHTML = `<tr role="row"><td role="cell" data-label="Event ID">${x.event_eid}</td><td role="cell" data-label="Event Title">${x.event_title}</td><td role="cell" data-label="Workshop">${x.workshop_title}</td><td role="cell" data-label="Seats">(${(x.seats_available-1)}/${x.seat_count})</td><td role="cell" data-label="Actions">`;
                  if (parseInt(x.seats_available) > 0) {
                    appendedHTML += `<button class="joinAvailableWorkshopBtn pf-c-button pf-m-primary" data-event-eid="${x.event_eid}">Join</button></td></tr>`;
                  } else {
                    appendedHTML += `<strong>FULL!</strong></td></tr>`;
                  }
                  jQuery('#availableEventsListingTable tbody').append(
                    appendedHTML
                  );
                }
                break;
              case 'no-available-events':
              default:
                jQuery('#availableEventsListingTable tbody').html(
                  '<tr role="row"><td colspan="5" class="pf-u-text-align-center">No public events found!</td></tr>'
                );
                break;
            }
          },
        });
      });

    jQuery(document).on(
      'click',
      '.pf-c-modal-box__footer .pf-c-button.close',
      function (e) {
        jQuery(this)
          .parent()
          .parent()
          .parent()
          .modal('hide');
      }
    );
    jQuery(document).on(
      'click',
      '.pf-c-modal-box__footer>.pf-c-button.close',
      function (e) {
        jQuery(this)
          .parent()
          .parent()
          .modal('hide');
      }
    );

    jQuery('body').on('click', '#logoutBtn', function (e) {
      showLoadingScreen();
      jQuery.ajax({
        type: 'POST',
        url: '{{ .Site.Params.jigBackend }}/api/v1/activity',
        data: {
          initiating_url: '{{ .Permalink | absURL }}',
          activity_type: 'logout',
          student_name_id: Cookies2.get('student_name_id'),
        },
        complete(data) {
          logStudentOut();
          hideLoadingScreen();
        },
      });
    });

    jQuery('body').on('click', '#redirectToWorkshopBtn', function (e) {
      navigateToActiveWorkshop();
    });

    jQuery('#studentLoginModal').on('click', '#studentLoginBtn', function (e) {
      jQuery(this).addClass('pf-m-disabled');
      jQuery('#studentLoginForm').validate({
        rules: {
          student_name: {
            required: true,
          },
          student_email: {
            required: true,
          },
        },
        message: {
          student_name: {
            required: 'This field is required!',
          },
          student_email: {
            required: 'This field is required!',
          },
        },
        submitHandler(form) {
          jQuery.ajax({
            type: 'POST',
            url: form.action,
            data: jQuery('#studentLoginForm').serialize(),
            success(data) {
              if (data.code == 'student-logged-in') {
                // Clear form and Hide this modal
                form.reset;
                jQuery('#studentLoginModal').modal('hide');
                showLoadingScreen(false);
                // Set Cookies
                const cookiePath = '/';
                Cookies2.set('student_email', data.data.student_email, {
                  expires: 7,
                });
                Cookies2.set('student_name', data.data.student_name, {
                  expires: 7,
                });
                Cookies2.set('student_id', data.data.student_id, {
                  expires: 7,
                });
                Cookies2.set('student_name_id', data.data.student_name_id, {
                  expires: 7,
                });
                // Set the student visual bits
                readCookiesAndSetVisual();
                // Prompt for Event ID
                setTimeout(function () {
                  jQuery('#eventIDModal').modal('show');
                  showLoadingScreen(false);
                }, 500);
              }
            },
          });
        },
      });
    });

    jQuery('#eventIDModal').on('click', '#eventIDJoinBtn', function (e) {
      jQuery(this).addClass('pf-m-disabled');
      jQuery('#eventIDForm').validate({
        rules: {
          student_name: {
            required: true,
          },
          student_email: {
            required: true,
          },
        },
        message: {
          student_name: {
            required: 'This field is required!',
          },
          student_email: {
            required: 'This field is required!',
          },
        },
        submitHandler(form) {
          jQuery.ajax({
            type: 'POST',
            url: form.action,
            data: {
              initiating_url: jQuery(
                "#eventIDForm input[name='initiating_url']"
              ).val(),
              student_name_id: Cookies2.get('student_name_id'),
              event_id: jQuery("#eventIDForm input[name='event_id']").val(),
            },
            success(data) {
              console.log(data);
              switch (data.code) {
                case 'workshop-event-initialized':
                  // Clear form and Hide this modal
                  form.reset;
                  jQuery('#eventIDModal').modal('hide');
                  // Set base Cookies
                  var bakedCookies = data.data.assets.cookies;
                  for (const key of Object.keys(bakedCookies)) {
                    console.log(
                      `setting cookie: ${bakedCookies[key].cookie_key} - ${bakedCookies[key].cookie_value} - path: ${bakedCookies[key].cookie_path}`
                    );
                    Cookies2.set(
                      bakedCookies[key].cookie_key,
                      bakedCookies[key].cookie_value,
                      {
                        expires: parseInt(bakedCookies[key].cookie_expiration),
                        path: bakedCookies[key].cookie_path,
                        // domain: bakedCookies[key].cookie_domain,
                      }
                    );
                    // Set global cookie so we know what to delete later...
                    if (bakedCookies[key].cookie_key == 'domain') {
                      console.log(
                        `setting cookie: active_workshop_path - ${bakedCookies[key].cookie_path} - path: '/'`
                      );
                      Cookies2.set('bakedCookies', bakedCookies, {
                        expires: parseInt(bakedCookies[key].cookie_expiration),
                        path: '/',
                        // domain: bakedCookies[key].cookie_domain,
                      });
                      Cookies2.set(
                        'active_workshop_path',
                        bakedCookies[key].cookie_path,
                        {
                          expires: parseInt(bakedCookies[key].cookie_expiration),
                          path: '/',
                          // domain: bakedCookies[key].cookie_domain,
                        }
                      );
                    }
                  }
                  templateBakedCookies();
                  // Set the student visual bits
                  jQuery('#eventIDModalBtn').addClass('pf-u-hidden');
                  jQuery('#gotoWorkshopBtn').removeClass('pf-u-hidden');
                  if (typeof pageLoadWorkshopFooterTest === 'function') {
                    pageLoadWorkshopFooterTest();
                  }
                  setTimeout(function () {
                    jQuery('#gotoWorkshopModal').modal('show');
                    showLoadingScreen(false);
                  }, 500);
                  break;
                case 'invalid-event-id':
                  jQuery('#event_id-error')
                    .text('Invalid Event ID!')
                    .css('display', 'inline-block');
                  break;
                case 'expired-event':
                  jQuery('#event_id-error')
                    .text('Event has expired!')
                    .css('display', 'inline-block');
                  break;
                case 'upcoming-event':
                  jQuery('#event_id-error')
                    .text('Event has not yet started!')
                    .css('display', 'inline-block');
                  break;
                default:
                  jQuery('#event_id-error')
                    .text('General error!')
                    .css('display', 'inline-block');
                  break;
              }
            },
          });
        },
      });
    });
  });
</script>

</body>

</html>