<header class="pf-c-page__header">
  <div class="pf-c-page__header-brand">
    {{ $hamburger := .Scratch.Get "hamburger" }}
    {{ if eq $hamburger "true" }}
    <div class="pf-c-page__header-brand-toggle">
      <button class="pf-c-button pf-m-plain" type="button" id="page-expandable-nav-example-nav-toggle"
        aria-expanded="true" data-toggle="collapse" data-target="#mainSideNav" aria-controls="mainSideNav"
        aria-label="Toggle navigation">
        <i class="fas fa-bars" aria-hidden="true"></i>
      </button>
    </div>
    {{ end }}
    <a href="/" class="pf-c-page__header-brand-link">
      <img class="pf-c-brand" src="{{"/img/redhat.svg"}}" alt="Red Hat logo" />
    </a>
  </div>
  <div class="pf-c-page__header-tools">
    <div class="pf-c-page__header-tools-group">
      <!--
      <div class="pf-c-page__header-tools-item pf-m-hidden pf-m-visible-on-lg">
        <button class="pf-c-button pf-m-plain" type="button" aria-label="Settings">
          <i class="fas fa-cog" aria-hidden="true"></i>
        </button>
      </div>
      <div class="pf-c-page__header-tools-item pf-m-hidden pf-m-visible-on-lg">
        <button class="pf-c-button pf-m-plain" type="button" aria-label="Help">
          <i class="pf-icon pf-icon-help" aria-hidden="true"></i>
        </button>
      </div>
      -->
    </div>
    <div class="pf-c-page__header-tools-group">
      <div class="pf-c-page__header-tools-item">
        <div class="pf-c-dropdown">
          <button class="pf-c-dropdown__toggle pf-m-plain" type="button" id="userDropdown" aria-expanded="false"
            aria-haspopup="true" data-toggle="dropdown">
            <span class="pf-c-dropdown__toggle-text userNameData">Student User</span>
            <span class="pf-c-dropdown__toggle-icon">
              <i class="fas fa-caret-down" aria-hidden="true"></i>
            </span>
          </button>
          <div class="pf-c-dropdown__menu dropdown-menu" aria-labelledby="userDropdown">
            <button class="pf-c-button pf-m-primary pf-m-block" type="button" id="loginBtn" data-toggle="modal"
              data-target="#studentLoginModal">Login</button>
            <button class="pf-c-button pf-m-primary pf-m-block pf-u-hidden" id="eventIDModalBtn" type="button"
              data-toggle="modal" data-target="#eventIDModal">Join
              Event...</button>
            <button class="pf-c-button pf-m-primary pf-m-block pf-u-hidden" id="gotoWorkshopBtn" data-toggle="modal"
              data-target="#gotoWorkshopModal" type="button">Goto
              Workshop</button>
            <button class="pf-c-button pf-m-primary pf-m-block pf-u-hidden" id="logoutBtn" type="button">Logout</button>
          </div>
        </div>
      </div>
    </div>
    <img class="pf-c-avatar" src="/img/img_avatar.svg" alt="Avatar image" />
  </div>
</header>